/.metadata/

#ignore local Spring configs
**/application-local.properties

#ignore test Spring cofig too.
**/application-test-local.yml

# Ignore any generated folders across all projects
**/target/
**/build/